B2B/Connected Services/ServiceAuth/WebServiceAuth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iv_tc_tax_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iv_tel_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthUser" />
  </wsdl:message>
  <wsdl:message name="AuthUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthUserAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAuthSoap">
    <wsdl:operation name="AuthUser">
      <wsdl:input message="tns:AuthUserSoapIn" />
      <wsdl:output message="tns:AuthUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAuthSoap" type="tns:WebServiceAuthSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthUser">
      <soap:operation soapAction="http://tempuri.org/AuthUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAuthSoap12" type="tns:WebServiceAuthSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthUser">
      <soap12:operation soapAction="http://tempuri.org/AuthUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAuth">
    <wsdl:port name="WebServiceAuthSoap" binding="tns:WebServiceAuthSoap">
      <soap:address location="https://services.alfemo.com.tr:9095/B2B/WebServiceAuth.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAuthSoap12" binding="tns:WebServiceAuthSoap12">
      <soap12:address location="https://services.alfemo.com.tr:9095/B2B/WebServiceAuth.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>