B2B/Connected Services/ServiceShipment/WebServiceShipment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetShipments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lst_kunnr" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetShipmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShipmentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetShipmentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lst_kunnr" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="iv_tknum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShipmentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShipmentDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetShipmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetShipments" />
  </wsdl:message>
  <wsdl:message name="GetShipmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetShipmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetShipmentsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetShipmentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetShipmentDetails" />
  </wsdl:message>
  <wsdl:message name="GetShipmentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetShipmentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetShipmentDetailsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceShipmentSoap">
    <wsdl:operation name="GetShipments">
      <wsdl:input message="tns:GetShipmentsSoapIn" />
      <wsdl:output message="tns:GetShipmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShipmentDetails">
      <wsdl:input message="tns:GetShipmentDetailsSoapIn" />
      <wsdl:output message="tns:GetShipmentDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceShipmentSoap" type="tns:WebServiceShipmentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShipments">
      <soap:operation soapAction="http://tempuri.org/GetShipments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetShipmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShipmentDetails">
      <soap:operation soapAction="http://tempuri.org/GetShipmentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetShipmentDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceShipmentSoap12" type="tns:WebServiceShipmentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShipments">
      <soap12:operation soapAction="http://tempuri.org/GetShipments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetShipmentsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShipmentDetails">
      <soap12:operation soapAction="http://tempuri.org/GetShipmentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetShipmentDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceShipment">
    <wsdl:port name="WebServiceShipmentSoap" binding="tns:WebServiceShipmentSoap">
      <soap:address location="http://192.168.90.12:85/B2B/WebServiceShipment.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceShipmentSoap12" binding="tns:WebServiceShipmentSoap12">
      <soap12:address location="http://192.168.90.12:85/B2B/WebServiceShipment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>