B2B/Connected Services/ServiceStock/WebServiceStock1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetObservedStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iv_sortl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iv_mvgr2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iv_mvgr3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iv_mvgr4" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObservedStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObservedStockResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetObservedStockSoapIn">
    <wsdl:part name="parameters" element="tns:GetObservedStock" />
  </wsdl:message>
  <wsdl:message name="GetObservedStockSoapOut">
    <wsdl:part name="parameters" element="tns:GetObservedStockResponse" />
  </wsdl:message>
  <wsdl:message name="GetObservedStockAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceStockSoap">
    <wsdl:operation name="GetObservedStock">
      <wsdl:input message="tns:GetObservedStockSoapIn" />
      <wsdl:output message="tns:GetObservedStockSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceStockSoap" type="tns:WebServiceStockSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObservedStock">
      <soap:operation soapAction="http://tempuri.org/GetObservedStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetObservedStockAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceStockSoap12" type="tns:WebServiceStockSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObservedStock">
      <soap12:operation soapAction="http://tempuri.org/GetObservedStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetObservedStockAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceStock">
    <wsdl:port name="WebServiceStockSoap" binding="tns:WebServiceStockSoap">
      <soap:address location="https://services.alfemo.com.tr:9095/B2B/WebServiceStock.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceStockSoap12" binding="tns:WebServiceStockSoap12">
      <soap12:address location="https://services.alfemo.com.tr:9095/B2B/WebServiceStock.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>