B2B/Connected Services/ServiceMalzeme/WebServiceMalzeme.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GelMaterial">
        <s:complexType />
      </s:element>
      <s:element name="GelMaterialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GelMaterialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetMaterialGrub">
        <s:complexType />
      </s:element>
      <s:element name="GetMaterialGrubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaterialGrubResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GelMaterialSoapIn">
    <wsdl:part name="parameters" element="tns:GelMaterial" />
  </wsdl:message>
  <wsdl:message name="GelMaterialSoapOut">
    <wsdl:part name="parameters" element="tns:GelMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="GelMaterialAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetMaterialGrubSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaterialGrub" />
  </wsdl:message>
  <wsdl:message name="GetMaterialGrubSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaterialGrubResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaterialGrubAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMalzemeSoap">
    <wsdl:operation name="GelMaterial">
      <wsdl:input message="tns:GelMaterialSoapIn" />
      <wsdl:output message="tns:GelMaterialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialGrub">
      <wsdl:input message="tns:GetMaterialGrubSoapIn" />
      <wsdl:output message="tns:GetMaterialGrubSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMalzemeSoap" type="tns:WebServiceMalzemeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GelMaterial">
      <soap:operation soapAction="http://tempuri.org/GelMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GelMaterialAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialGrub">
      <soap:operation soapAction="http://tempuri.org/GetMaterialGrub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMaterialGrubAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMalzemeSoap12" type="tns:WebServiceMalzemeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GelMaterial">
      <soap12:operation soapAction="http://tempuri.org/GelMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GelMaterialAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialGrub">
      <soap12:operation soapAction="http://tempuri.org/GetMaterialGrub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMaterialGrubAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMalzeme">
    <wsdl:port name="WebServiceMalzemeSoap" binding="tns:WebServiceMalzemeSoap">
      <soap:address location="http://192.168.90.12:85/B2B/WebServiceMalzeme.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMalzemeSoap12" binding="tns:WebServiceMalzemeSoap12">
      <soap12:address location="http://192.168.90.12:85/B2B/WebServiceMalzeme.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>