B2B/Connected Services/ServiceSalesOrder/WebServiceSalesOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSalesOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iv_vbeln" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iv_kunnr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetOpenOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iv_kunnr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iv_cmpt_abgru" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOpenOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOpenOrdersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSalesOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesOrder" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesOrderAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetOpenOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOpenOrders" />
  </wsdl:message>
  <wsdl:message name="GetOpenOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOpenOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetOpenOrdersAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSalesOrderSoap">
    <wsdl:operation name="GetSalesOrder">
      <wsdl:input message="tns:GetSalesOrderSoapIn" />
      <wsdl:output message="tns:GetSalesOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenOrders">
      <wsdl:input message="tns:GetOpenOrdersSoapIn" />
      <wsdl:output message="tns:GetOpenOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSalesOrderSoap" type="tns:WebServiceSalesOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesOrder">
      <soap:operation soapAction="http://tempuri.org/GetSalesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSalesOrderAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenOrders">
      <soap:operation soapAction="http://tempuri.org/GetOpenOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOpenOrdersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSalesOrderSoap12" type="tns:WebServiceSalesOrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesOrder">
      <soap12:operation soapAction="http://tempuri.org/GetSalesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSalesOrderAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenOrders">
      <soap12:operation soapAction="http://tempuri.org/GetOpenOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOpenOrdersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSalesOrder">
    <wsdl:port name="WebServiceSalesOrderSoap" binding="tns:WebServiceSalesOrderSoap">
      <soap:address location="http://192.168.90.12:85/B2B/WebServiceSalesOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSalesOrderSoap12" binding="tns:WebServiceSalesOrderSoap12">
      <soap12:address location="http://192.168.90.12:85/B2B/WebServiceSalesOrder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>