B2B/Connected Services/ServiceColumn/WebServiceColumn1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetColumnName">
        <s:complexType />
      </s:element>
      <s:element name="GetColumnNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetColumnNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetColumnNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetColumnName" />
  </wsdl:message>
  <wsdl:message name="GetColumnNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetColumnNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetColumnNameAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceColumnSoap">
    <wsdl:operation name="GetColumnName">
      <wsdl:input message="tns:GetColumnNameSoapIn" />
      <wsdl:output message="tns:GetColumnNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceColumnSoap" type="tns:WebServiceColumnSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetColumnName">
      <soap:operation soapAction="http://tempuri.org/GetColumnName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetColumnNameAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceColumnSoap12" type="tns:WebServiceColumnSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetColumnName">
      <soap12:operation soapAction="http://tempuri.org/GetColumnName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetColumnNameAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceColumn">
    <wsdl:port name="WebServiceColumnSoap" binding="tns:WebServiceColumnSoap">
      <soap:address location="https://services.alfemo.com.tr:9095/B2B/WebServiceColumn.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceColumnSoap12" binding="tns:WebServiceColumnSoap12">
      <soap12:address location="https://services.alfemo.com.tr:9095/B2B/WebServiceColumn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>