B2B/Connected Services/ServiceAccount/WebServiceCari.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AccountStatement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iv_kunnr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountStatementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountStatementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccountStatementSoapIn">
    <wsdl:part name="parameters" element="tns:AccountStatement" />
  </wsdl:message>
  <wsdl:message name="AccountStatementSoapOut">
    <wsdl:part name="parameters" element="tns:AccountStatementResponse" />
  </wsdl:message>
  <wsdl:message name="AccountStatementAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCariSoap">
    <wsdl:operation name="AccountStatement">
      <wsdl:input message="tns:AccountStatementSoapIn" />
      <wsdl:output message="tns:AccountStatementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCariSoap" type="tns:WebServiceCariSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountStatement">
      <soap:operation soapAction="http://tempuri.org/AccountStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AccountStatementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCariSoap12" type="tns:WebServiceCariSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountStatement">
      <soap12:operation soapAction="http://tempuri.org/AccountStatement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AccountStatementAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCari">
    <wsdl:port name="WebServiceCariSoap" binding="tns:WebServiceCariSoap">
      <soap:address location="http://192.168.90.12:85/B2B/WebServiceCari.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCariSoap12" binding="tns:WebServiceCariSoap12">
      <soap12:address location="http://192.168.90.12:85/B2B/WebServiceCari.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>